html, body {
    /* any div up to fullscreen-cont must have this
    in this case html and body */

    margin:0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
	background: url(http://www.pentaxforums.com/forums/members/61172-wyndstryder/albums/7000-noir-et-blanc/picture61663.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p {
	padding-top:10px;
	line-height: 20px;
}

h1 {
	padding:0;
	margin:0;
	font-family: 'Tangerine', serif;
	font-size:37px;
	margin-bottom:15px;
}

h4 {
	padding: 0;
	margin: 0;
	font-size:16px;
	color: #0480be;
}

a {
	color:#000;
}

#desktop-video {
	display:block;
}

#mobile-video {
	display:none;
}

.tab-content {
	margin-top:15px;
}

.byline {
	padding:5px;
	text-align: center;
	color:#bbb;
	font-size:11px;
}

.byline a {
	color:#bbb;
	font-size:11px;
}

.content {
	position:relative;
	background-color: #fff;
	min-height: 500px;
	border-radius: 7px;
}

.content-wrapper {
	max-width:1080px;
	margin:auto;
	margin-top:30px;
	margin-bottom: 50px;
}

.site-nav {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:50px;
	background-color:#fff;
	border-top:1px dashed #ccc;
}

.site-nav ul{
	margin:0;
	padding:0;
}

.site-nav ul li {
	width:100px;
	display:table-cell;
	line-height:50px;
	font-weight:bold;
	background-color:#fff;
	text-align: center;
}

.site-nav ul li:hover, .site-nav ul li.active {
	background-color:#003bb3;
	color:#fff;
	cursor: pointer;
}

.nav-mobile {
	position:fixed !important;
	bottom:50px !important;
	left:10% !important;
	width:80% !important;
	border: 1px dashed #CCC;
	border-bottom: 0;
	box-shadow: 0px -11px 12px rgba(0, 0, 0, 0.2);
}

.nav-mobile li {
	display:block !important;
	width:100% !important;
	border-bottom: 1px dashed #ccc;
	height:45px;
	line-height:45px !important;
}

.brand {
	float:left;
	border-right: 1px dashed #ccc;
	padding-top:5px;
	margin-right:5px;
	padding-right:30px;
	padding-left:30px;
}

.brand:hover {
	background-color:#fff;
	color:#000;
	cursor: auto;
}

.nav-container {
	position:relative;
	float:left;
}

.padder-10 {
	padding:10px;
}

.nav-trigger {
	line-height: 50px;
	width:50px;
	text-align: center;
	margin:auto;
	position:absolute;
	right:15px;
	display:none;
}

.nav-trigger:hover {
	cursor:pointer;
}

.desktop {
	display:block;
}

.mobile {
	display:none;
}

.top-margin {
	margin-top:30px;
}

.placeholder {
	line-height: 325px;
	text-align: center;
}

.details p {
	margin-bottom: 30px;
}

.polaroid {
	padding:15px;
	background-color:#fff;
	box-shadow:2px 2px 5px rgba(0, 0, 0, .7);
}

.polaroid img {
	width:100%;
}

.polaroid-offset {
	padding-right: 20px;
}

.pull-left, .pull-left-margin {
	float:left;
}

.pull-left-margin {
	margin-left:20px;
}

.pull-left-half {
	float:left;
	width:50%;
}

.padding-bottom {
	padding-bottom: 10px;
}

.small-link {
	text-decoration: none;
	font-size:11px;
}

.directions-list ul {
	margin:-10px;
	padding:0;
}

@media (max-width:1080px) {
	.content {
		margin-top:10px;
		width:100%;
	}

	.desktop {
		display:block;
	}

	.mobile {
		display:none;
	}

}

@media (max-width:780px) {

	.nav-desktop {
		display:none;
	}

	.nav-trigger {
		display:block;
	}

	.desktop {
		display:block;
	}

	.mobile {
		display:none;
	}

	#desktop-video {
		display:none;
	}

	#mobile-video {
		display:block;
	}

	.pull-left-half {
		float: none;
		width:100%;
	}

	.polaroid-offset {
		padding:0;
	}
}

@media (max-width:694px) {
	.content {
		min-height: 350px;
	}

	.desktop {
		display:none;
	}

	.mobile {
		display:block;
	}

	.desktop {
		display:none;
	}

	h1 {
		text-align: center;
		margin-bottom: 20px;
		padding-bottom:10px;
		border-bottom: 1px dashed #ccc;
	}

	h5 {
		background-color:#ccc;
		padding:10px;
		font-weight:bold;
	}
}

/*@media screen and (max-width:500px) and (orientation:landscape) {
	.site-nav {
		height:30px;
	}
}*/
