<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        	<!-- build:css(.tmp) styles/main.css -->
			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
			<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
			<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
			<link rel="stylesheet" href="styles/main.css">
        	<!-- endbuild -->

		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
			<script src="scripts/app.js"></script>
			<script src="scripts/controllers/DetailsCtrl.js"></script>
			<script src="scripts/controllers/GalleryCtrl.js"></script>
			<script src="scripts/controllers/RsvpCtrl.js"></script>
			<script src="scripts/controllers/OurStoryCtrl.js"></script>
		<!-- endbuild -->


	</head>

	<body ng-app="joyceSegalWeddingApp">
		<!--[if lt IE 7]>
		  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!--[if lt IE 9]>
		  <script src="bower_components/es5-shim/es5-shim.js"></script>
		  <script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

		<div class="padder-10">
			<!-- Add your site or application content here -->
			<div class="content">
				<div class="padder-10" data-ui-view=""></div>
			</div>
			<div class="nav clearfix">
				<div class="brand">
					<h1>Chris And Ava</h1>
				</div>
				<div class="nav-container">
					<ul class="nav-desktop">
						<li id="{{ item.sref }}" ng-click="selectNav(item)" ng-repeat="item in nav" ng-class="{'active': item.sref == selectedNav }" ui-sref="{{ item.sref }}">
							{{ item.label }}
						</li>
					</ul>
					<ul class="nav-mobile" ng-show="mobileNavVisible">
						<li id="{{ item.sref }}" ng-click="selectNav(item, true)" ng-repeat="item in nav" ng-class="{'active': item.sref == selectedNav }" ui-sref="{{ item.sref }}">
							{{ item.label }}
						</li>
					</ul>
				</div>
				<div class="nav-trigger">
					<i class="glyphicon glyphicon-align-justify" ng-click="toggleNav()"></i>
				</div>
			</div>
		</div>
	</body>
</html>
