<h1>Our Story</h1>

<div class="pull-left-half padding-bottom">
	<div class="polaroid-offset">
		<div class="polaroid"><img src="resources/walk.jpg" /></div>
	</div>
</div>
<div class="pull-left-half">
	<h4>The Saga of Chris and Ava</h4>
	<p>
		10.2.10. That's the day we met in a little mountain town called Leavenworth, the gateway to
		some of the most pristine wilderness in the Pacific Northwest. Our mutual love for the outdoors,
		photography, dogs, and gelato became quickly apparent and has served as the foundation for so many more
		incredible adventures!
	</p>

	<p>
		Over the past three years, we have encouraged each other to try new experiences and have risen
		up together to take on challenges that individually we never thought possible. Climbing mountains,
		exploring trails with our pups, road trips, races and foodventures have been a blast! And even along
		the darker paths, we have discovered that being together made the mundane and harder times that
		much easier, and sometimes even fun. Together we make a pretty unstoppable team!
	</p>

	<p>
		8.16.14. On this summer day back in a small mountain town called Snohomish, we will be starting a
		new chapter in our lives and are excited to share this adventure with our families and friends!
	</p>
</div>

<div style="clear:both;"></div>
