<h1>The Happy Couple</h1>

<div id="desktop-video" class="desktop">
	<iframe src="//player.vimeo.com/video/85449227"
		width="960"
		height="600"
		frameborder="0"
		webkitallowfullscreen
		mozallowfullscreen
		allowfullscreen>
	</iframe>

	<!--
	<p>
		<a href="http://vimeo.com/85449227">Next Adventure!.m4v</a> from
		<a href="http://vimeo.com/user24701347">Ava Segal</a> on
		<a href="https://vimeo.com">Vimeo</a>.
	</p>
	-->
</div>

<div id="mobile-video" class="mobile">loading...</div>

<script type="text/javascript">
    jwplayer("mobile-video").setup({
		file: "http://resources.colehafner.com/jsw-video-low-res.m4v",
		stretching: 'uniform',
		image: "resources/hug.jpg",
		width: '100%'
    });
</script>