<h1>The Happy Couple</h1>

<div id="desktop-video" class="desktop">loading...</div>

<div id="mobile-video" class="mobile">loading...</div>

<script type="text/javascript">
    jwplayer("desktop-video").setup({
		file: "http://resources.colehafner.com/jsw-video-hi-res.m4v",
        image: "resources/home.jpg",
		stretching: 'uniform',
		width: '100%',
		height: '650'
    });

    jwplayer("mobile-video").setup({
		file: "http://resources.colehafner.com/jsw-video-low-res.m4v",
		stretching: 'uniform',
		width: 'resources/kiss.jpg'
    });
</script>
