
<h4>Transportation</h4>

<p>
	We have set up shuttles to help our guests get to and from the wedding. If you're
	staying in the downtown Seattle area, we hope you will find these shuttles useful.
</p>

<h4>Guest Accommodations</h4>

<p>
	In an effort to help you plan your trip, we've set up group rates at two local hotels.
	You are encouraged to book your room as soon as possible as August is a busy time of year
	and the hotels will sell out soon. If you were unable to get back to us with your hotel
	preference, you can still book a room at the group rate!
</p>

<p>
	Please follow the instructions below to book your room. If you have any questions
	or problems reserving your room, do not hesitate to contact us!
</p>

<h4>Hotels</h4>

<ul class="hotels">
	<li>
		<p>
			<b class="hotel">Hampton Inn & Suites</b>
			(<a href="http://seattledowntownsuites.hamptoninn.com" target="_blank">View Site</a>)
			<br/>
			700 Fifth Avenue North<br/>
			Seattle, Washington, 98109<br/>
			206-282-7700
		</p>

		<p>
			The group rate will be good as long as rooms are still available or until
			Friday, July 27th, whichever comes first!
		</p>

		<p>
			Call 206-282-7700 and ask to book a room under the Segal/Joyce Wedding Block.
		</p>

		<p>
			<i>Pricing **</i><br/>
			Single king or double queen: $189 (+tax). <br/>
			Suite (2 rooms, king bed, pullout couch, and kitchen!): $239 (+tax)<br/>
		</p>

		<p>
			** Both room rates include hot breakfast and parking!
		</p>
	</li>

	<li>
		<p>
			<b class="hotel">Edgewater</b>
			(<a href="http://www.edgewaterhotel.com" target="_blank">View Site</a>)<br/>
			2411 Alaskan Way, Pier 67;<br/>
			Seattle, Washington 98121<br/>
			800-624-0670
		</p>

		<p>
			The group rate will be good as long as rooms are still available or until
			Monday, July 14th, whichever comes first!
		</p>

		<p>
			Call 800-624-0670 (8 am to 8 pm PST) and request to book
			a room under the Segal/Joyce Wedding Block.
		</p>

		<!--
		<p>-OR-</p>

		<p>Book Online: TBD</p>
		-->

		<p>
			<i>Pricing</i><br/>
			City side double: $259 (+tax)<br/>
			Waterside: $359 (+tax)<br/>
			Waterfront Premium: $399 (+tax)<br/>
		</p>

		<p>
			Parking is an additional $39 per day (valet-only). <br/>
			There is also parking available across the street at
			<a href="http://www.rpnw.com/lot/seattle/30-028" target="_blank">
				Bell Street Pier
			</a>
			garage for $21 per day.
		</p>
	</li>
</ul>
