<div style="width:100%;">

	<div class="pull-left-half padding-bottom">
		<div class="polaroid-offset">
			<div class="polaroid"><img src="resources/rsvp-ride.jpg" /></div>
		</div>
	</div>

	<div class="pull-left-half">
		<h4>Adventures in Seattle</h4>

		<p>Seattle City Sites</p>

		<ul class="act-list">
			<li class="act-title">DOWNTOWN & PIONEER SQUARE</li>
			<li class="ol">
				<ul>
					<li>
						<a href="http://www.pikeplacemarket.org/" target="_blank">Pike Place Market</a> -
						Great food, arts and crafts, people watching,
						and the original Starbucks (coffee is no different, but cool to see
						and usually has performers playing music!).
					</li>
					<li>
						<a href="https://www.undergroundtour.com/" target="_blank"> Underground Tour </a>
					</li>
					<li>
						<a href="http://www.seattleartmuseum.org/visit/olympic-sculpture-park" target="_blank">
							Olympic Sculpture Garden
						</a>
					</li>
					<li>
						Seattle Library (1001 4th Ave S.) –
						The architecture of this place is worth a visit
					</li>
					<li>Mariners baseball game at Safeco Field</li>

					<li>
						<a href="http://www.wsdot.wa.gov/ferries/schedule/scheduledetail.aspx?departingterm=7&arrivingterm=3&roundtrip=true"
						   target="_blank"> Ferry to Bainbridge Island </a> -
						The ferry terminal is a  short walk from the Edgewater
						Hotel, ferry ride is about  15 minutes and the island is
						beautiful!  Shops, good food, kayak rentals.
					</li>
					<li>
						<a href="http://www.seattleartmuseum.org/" target="_blank">
							Seattle Art Museum (SAM)
						</a>
						– Especially if the weather isn't cooperating.
					</li>
					<li>
						<a href="http://dazzlingplaces.com/Seattle/SeattleAttractionsREIFlagshipStore.html"
						   target="_blank">
							Flagship REI Store (222 Yale Ave. N)
						</a>
					</li>
				</ul>
			</li>
			<li class="act-title">
				<a href="http://www.seattlecenter.com/" target="_blank"> SEATTLE CENTER </a>
			</li>
			<li class="ol">
				<ul>
					<li>Space Needle</li>
					<li>
						<a href="http://www.empmuseum.org/" target="_blank">
							Experience Music Project (EMP)
						</a>
					</li>
					<li>
						International Fountain –
						Festivals take place almost every weekend here throughout
						the summer. The weekend of the wedding has Indigenous
						Cultures Day (August 16th) and BrasilFest (August 17th).
					</li>

					<li>
						<a href="http://www.chihulygardenandglass.com/" target="_blank">
							Chihuly Glass Museum
						</a>
						– Unique local glass artist.
					</li>
				</ul>
			</li>

			<li class="act-title">
				BALLARD
			</li>
			<li class="ol">
				<ul>
					<li>
						<a href="http://www.seattle.gov/TOUR/locks.htm" target="_blank">
							Hiram M. Chittenden Locks
						</a>
					</li>
					<li>
						<a href="http://www.seattle.gov/parks/park_detail.asp?ID=243" target="_blank">
							Golden Gardens
						</a>
					</li>
					<li>
						<a href="http://www.seattle.gov/parks/environment/discovery.htm" target="_blank">
							Discovery Park
						</a>
						– 3-5 mile walking loop and trails. Great views of the
						Olympic mountains from the bluffs.
					 </li>
				</ul>
			</li>
			<li class="act-title">
				CAPITOL HILL
			</li>
			<li class="ol">
				<ul>
					<li>
						<a href="http://www.volunteerparkconservatory.org/" target="_blank">
							Volunteer Park and Conservatory
						</a>
						– Climb the water tower and learn some Seattle history.
					</li>
				</ul>
			</li>
			<li class="act-title">FREMONT</li>
			<li class="ol">
				<ul>
					<li>
						<a href="http://www.frommers.com/destinations/seattle/702059#sthash.qh9dkmPP.dpbs"
						   target="_blank">
							Walking tour
						</a>

						– Frommer's does a pretty good job describing all the quirky
						sites! Stop at the
						<a href="http://www.fremontbrewing.com/" target="_blank">
							Fremont Brewing Company
						</a>
						and enjoy a family atmosphere of local brews. You can bring
						pets, kids, and your own food here! This is one of our
						favorite neighborhood digs!
					</li>
				</ul>
			</li>
			<li class="act-title">HIKING</li>
			<li class="ol">
				<ul>
					<li>
						Snoqualmie Pass - (I-90 Corridor) often referred to as
						the Issaquah Alps offers an array of hikes just a 30-45
						minute drive away. Check out the Washington Trails
						Association (WTA) sites for more details!
					</li>
					<li>
						<a href="http://www.wta.org/go-hiking/hikes/rattle-snake-ledge" target="_blank">
							Exit 32
						</a> - Rattlesnake ledge/lake.
					</li>
					<li>
						<a href="http://www.wta.org/go-hiking/hikes/mount-si" target="_blank">
							Exit 32
						</a>
						- Mt Si (or Little Si for a shorter hike!).
					</li>
					<li>
						<a href="http://www.snoqualmiefalls.com/" target="_blank">
							Exit 25
						</a> - Snoqualmie falls.
					</li>
					<li>
						<a href="http://www.wta.org/go-hiking/hikes/denny-creek" target="_blank">
							Exit 47
						</a> - Denny Creek Trail.
					</li>
				</ul>
			</li>
			<li class="act-title">
				EATERIES (because good food matters)
			</li>
			<li class="ol">
				<ul>
					<li>
						Market Grill in Pike Place Market – The best fish
						sandwiches in town!
					</li>
					<li>
						Michou Deli - Also a great option on the street adjacent
						to Pike Place. Lots of options and cheap prices!
					</li>
					<li>
						Marination Ma Kai (1660 Harbor Ave SW) – The best
						Hawaiian grub outside of Hawaii! This one is located in
						West Seattle, but you can take a water taxi from downtown
						directly to the restaurant which is an adventure all in itself!
					</li>
					<li>
						Etta's Seafood (2020 Western Ave.) – One of Tom Douglas'
						original restaurants at the end of Pike Place Market.
					</li>
					<li>
						Dahlia Lounge (2001 4th Ave.) – Another Tom Douglas
						restaurant worth visiting.
					</li>
					<li>
						Salumi (309 Third Ave S.) – Incredible deli sandwiches
						in Pioneer Square.
					</li>
					<li>
						Macrina Bakery (2408 First Avenue) – This place is known
						for its brunches.
					</li>
					<li>
						Agua Verde (1303 NE Boat St.) – Authentic Mexican food
						near the University of WA, off of Lake Union (rent a
						kayak here too and check out the house boats!).
					</li>
					<li>
						Long Provincial Vietnamese (2nd Ave and Stewart)
					</li>
					<li>
						Revel (Fremont, 403 N. 36th St.) - Korean fusion. Amazing
						and well worth the wait!
					</li>
					<li>
						Paseo (Fremont, 4225 Fremont Ave. N; Ballard near the
						locks: 6226 Seaview Ave NW) – Cuban food to die for!
					</li>
					<li>
						Ray's Boathouse (6049 Seaview Ave NW) – Sunsets and happy
						hour in Ballard near the Locks.
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div style="clear:both;"></div>
</div>
