<h4>Gift Registries</h4>

<p class="padder-10">
	Chris and Ava have registered at Macy's and REI. Click on a logo below to check out their online registries.
</p>

<div class="clearfix">
	<div class="pull-left-half">
		<a href="http://www1.macys.com/registry/wedding/guest/?registryId=2183646" class="registry macys-logo" target="_blank">
			<img src="/resources/macys-logo-small.jpg" />
		</a>
	</div>

	<div class="pull-left-half">
		<a href="http://www.rei.com/GiftRegistryDetails/GR70208665" class="registry" target="_blank">
			<img src="/resources/rei-logo-small.jpg" />
		</a>
	</div>
</div>