

<div style="width:100%;">
	<div class="polaroid pull-left desktop">
		<img src="http://www.greengatesevents.com/IMG_1436.JPG" />
	</div>
	<div class="pull-left-margin">
		<div style="max-width: 500px;">
			<h4>
				Green Gates at Flowing Lake
				<a href="http://www.greengatesevents.com/" target="_blank" class="small-link"> (View Site)</a>
			</h4>
			<p>Green Gates is located on Flowing Lake near the historic town of Snohomish, Washington.</p>

			Directions

			<ul>
				<li>From Seattle, take I-5 North to exit 194. Take the ramp right for US-2 East toward</li>

				<li>Wenatchee/Snohomish (24.3 mi)</li>

				<li>Bear right onto US-2/Stevens Pass Hwy (4 mi)</li>

				<li>Turn left onto Westwick Rd (6.2 mi)</li>

				<li>Road changes to 171st</li>

				<li>Turn right onto 48th</li>

				<li>Turn right onto 175th</li>

				<li>Destination is on the left. Look for the Joyce-Segal sign!</li>

				<li>Arrive at 4919 175th</li>
			</ul>
		</div>
	</div>

	<div style="clear:both;"></div>
</div>